* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #ddeefc;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.container {
	width: 90%;
	max-width: 62.5em;
	padding: 2.5em 1.25em;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------- Card general style ----------*/
.card {
	width: 100%;
	max-width: 34.375em;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.card.active {
	transform: rotateY(180deg);
}

.card > div {
	padding: 1.875em;
	border-radius: 15px;
	min-height: 19.6875em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Card front ----------*/

.card .front {
	width: 100%;
	background: url(https://images.pexels.com/photos/2832382/pexels-photo-2832382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
}

.front .bank-logo {
	text-align: right;
	min-height: 3.125em;
}

.front .bank-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 5em;
}

.front .chip {
	width: 100%;
	max-width: 3.125em;
	margin-bottom: 1.25em;
}

.front .group .label {
	font-size: 1em;
	color: #7d8994;
	margin-bottom: 0.3125em;
}

.front .group .number,
.front .group .name,
.front .group .expiration {
	color: #fff;
	font-size: 1.375em;
	text-transform: uppercase;
}

.front .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 1.25em;
}

/* ---------- Card back ----------*/
.back {
	background: url(https://images.pexels.com/photos/2832382/pexels-photo-2832382.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	min-width: 100%;
}

.back .magnetic-bar {
	height: 4em;
	background: #000;
	width: 100%;
	position: absolute;
	top: 1.875em;
	left: 0;
}

.back .data {
	margin-top: 5.5em;
	display: flex;
	justify-content: space-between;
}

.back .data p.label {
	margin-bottom: 0.3125em;
}

.back .data #firm {
	width: 70%;
}

.back .data #firm .firm {
	height: 2.5em;
	background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.back .data #firm .firm p {
	line-height: 2.5rem;
	font-family: 'Liu Jian Mao Cao', cursive;
	color: #000;
	font-size: 1.875rem;
	padding: 0 0.625rem;
	text-transform: capitalize;
}

.back .data #ccv {
	width: 20%;
}

.back .data #ccv .ccv {
	background: #fff;
	height: 2.5em;
	color: #000;
	padding: 0.625em;
	text-align: center;
}

/* ---------- Container button ----------*/
.container-btn .btn-open-form {
	width: 3.125em;
	height: 3.125em;
	font-size: 1.25em;
	line-height: 1.25em;
	background: #2364d2;
	color: #fff;
	position: relative;
	top: -1.5625em;
	z-index: 3;
	border-radius: 100%;
	box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
	padding: 0.3125em;
	transition: all .2s ease;
	border: none;
	cursor: pointer;
}

.container-btn .btn-open-form:hover {
	background: #1850b1;
}

.container-btn .btn-open-form.active {
	transform: rotate(45deg);
}

/* ---------- Card form ----------*/
.card-form {
	background: #fff;
	width: 100%;
	max-width: 43.75em;
	padding: 9.375em 1.875em 1.875em 1.875em;
	border-radius: 10px;
	position: relative;
	top: -9.375em;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path .3s ease-out;
}

.card-form.active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.card-form label {
	display: block;
	color: #7d8994;
	margin-bottom: 0.3125em;
	font-size: 1em;
}

.card-form input,
.card-form select,
.btn-send {
	border: 2px solid #CED6E0;
	font-size: 1.125em;
	height: 3.125em;
	width: 100%;
	padding: 0.3125em 0.75em;
	transition: .3s ease all;
	border-radius: 5px;
}

.card-form input:hover,
.card-form select:hover {
	border: 2px solid #93BDED;
}

.card-form input:focus,
.card-form select:focus {
	outline: rgb(4,4,4);
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}

.card-form input {
	margin-bottom: 1.25em;
	text-transform: uppercase;
}

.card-form .flexbox {
	display: flex;
	justify-content: space-between;
}

.card-form .expire {
	width: 100%;
}

.card-form .ccv {
	min-width: 6.25em;
}

.card-form .group-select {
	width: 100%;
	margin-right: 0.9375em;
	position: relative;
}

.card-form select {
	-webkit-appearance: none;
}

.card-form .group-select i {
	position: absolute;
	color: #CED6E0;
	top: 1.125em;
	right: 0.9375em;
	transition: .3s ease all;
}

.card-form .group-select:hover i {
	color: #93bfed;
}

.card-form .btn-send {
	border: none;
	padding: 0.625em;
	font-size: 1.375em;
	color: #fff;
	background: #2364d2;
	box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
	cursor: pointer;
}

.card-form .btn-send:hover {
	background: #1850b1;
}

@media only screen and (max-width: 600px){
	body {
		font-size: 13px;
	}
	.card-form .flexbox {
		display: block;
	}
	.group-select {
		margin-bottom: 1.25em;
	}
	.back .data #firm .firm p {
		font-size: 1.2rem;
	}
	.front .group .number,
	.front .group .name,
	.front .group .expiration {
		font-size: 1.1em;
	}
}